:host {
  --headBack: var(--passwordHeadBack);
  --headFore: var(--passwordHeadFore);
  --bodyBack: var(--passwordBodyBack);
  --bodyFore: var(--passwordBodyFore);
  --accentBack: var(--passwordHeadBack);
  --accentFore: var(--passwordHeadFore);
}

.mat-mdc-dialog-title {
  min-width: 20em;
}

form {
  display: flex;
  flex-flow: column;
}
