<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.welcome">
  <div cdkDragHandle mat-dialog-title>
    <mat-icon i18n-matTooltip matTooltip="The name of the app is based on Star Wars, where Order 66 was an order that
      the clone troopers could not disobey and which resulted in the extinction of the
      Jedi. Of course, this app is NOT intended to exterminate the Jedi, but the
      current instructions of the pet owners should be recognized as valid even if
      previous instructions contradict them.">info
    </mat-icon>
    <h1>{{ globals.titles.welcome }}</h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <mat-dialog-content>
    <div i18n>
      This is a webapp for creating and managing informations for pet sitters who
      are looking after the pets during absence of their owners.
    </div>
    <div *ngIf="bs.remainingUsers > 0">
      <span i18n>To use this app you need to</span>
      <button (click)="mode='login'" [class]="classForLogin" i18n mat-button>login</button>
      <span i18n>or</span>
      <button (click)="mode='register'" [class]="classForRegister" i18n mat-button>register</button>
    </div>
    <div *ngIf="bs.remainingUsers <= 0">
      <span i18n>To use this app you need to login</span>
    </div>
    <form [formGroup]="form">
      <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'username'}"></ng-container>
      <mat-form-field [appearance]="appearance" [formGroup]="form">
        <mat-label i18n>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput/>
        <button
          (click)="clickHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          mat-icon-button
          matSuffix
          type="button">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- mat-error *ngIf="form.get('password')?.invalid && !form.get('password')?.untouched">
          <ng-container *ngIf="form.get('password')?.errors?.['required']" i18n>Password is required</ng-container>
        </mat-error -->
      </mat-form-field>
      <div *ngIf="bs.remainingUsers > 0" [class]="classForArea('register')">
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'email'}"></ng-container>
        <br>
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'firstname'}"></ng-container>
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'lastname'}"></ng-container>
        <br>
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'address1'}"></ng-container>
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'address2'}"></ng-container>
        <br>
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'zip'}"></ng-container>
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'city'}"></ng-container>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="onSend()" mat-button>{{ btnSendTitle }}</button>
  </mat-dialog-actions>
</div>

<ng-template #formFieldTemplate let-name="name">
  <mat-form-field [appearance]="appearance" [formGroup]="form">
    <mat-label>{{ controls[name]?.label }}</mat-label>
    <input [formControlName]="name" matInput>
    <!-- mat-error *ngIf="form.get(name)?.invalid && !form.get(name)?.untouched">
      <ng-container *ngIf="form.get(name)?.errors?.['required']" i18n>{{ controls[name]?.label }} is required</ng-container>
      <ng-container *ngIf="form.get(name)?.errors?.['email']" i18n>Invalid email address</ng-container>
    </mat-error -->
  </mat-form-field>
</ng-template>

