<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.tasks">
  <div cdkDragHandle mat-dialog-title>
    <mat-icon>{{ 'task' }}</mat-icon>
    @if (isSitter) {
      <div title>
        <div owner>{{ globals.ownerName(data) }}</div>
        <div info>{{ globals.ownerInfo(data) }}</div>
      </div>
    } @else {
      <div title>{{ globals.titles.tasks }}</div>
    }
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <mat-dialog-content>
    <mat-accordion multi="true">
      @for (day of data.p.days; track day.id; let idx = $index) {
        <mat-expansion-panel [style]="globals.styleForPlan(data)" [expanded]="isDayExpanded(day)" (expandedChange)="expandDay($event, day)">
          <mat-expansion-panel-header [class]="classForDay(day)">
            <mat-panel-title>
              {{ Utils.fmtDate(day.date, 'ddd') }}, {{ Utils.fmtDate(day.date) }}
            </mat-panel-title>
            <mat-panel-description>
              @if (!globals.hasActions(day) && !isSitter && mayEdit(day)) {
                <button mat-button (click)="clickCopyAction($event, day, null)">
                  <mat-icon>content_copy</mat-icon>
                  <span>{{ msgCopy(day) }}</span>
                </button>
              } @else {
                @for (time of day.timeRanges; track time.id) {
                  <app-time-icon [time]="time" [day]="day" hideOnEmptyActions="true"></app-time-icon>
                }
              }
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-accordion multi="true">
            @for (time of day.timeRanges; track time.id; let idx = $index) {
              @if (time.actions?.length > 0 || (!isSitter && mayEdit(day))) {
                <mat-expansion-panel [style]="globals.styleForPlan(data)" tasks [expanded]="isTimeExpanded(day, time)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon>{{ time.typeIcon }}</mat-icon>
                      <div label>{{ time.typeName }}</div>
                    </mat-panel-title>
                    <mat-panel-description>
                      @if (time.actions?.length > 0 || !mayEdit(day)) {
                        <div label>{{ timeDescription(time) }}</div>
                        @if (mayEdit(day) && !isSitter) {
                          <button mat-icon-button (click)="clickDeleteTimeActions($event, day, time)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        }
                      } @else if (day.id > 1 || data.p.id > 1) {
                        <button mat-button (click)="clickCopyAction($event, day, time)">
                          <mat-icon>content_copy</mat-icon>
                          <span>{{ msgCopy(day) }}</span>
                        </button>
                      }
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div [style]="globals.styleForPlan(data)">
                    @for (action of time.actions; track action.id) {
                      <div action row>
                        @if (isSitter) {
                          <mat-checkbox [(ngModel)]="action.done">
                            <ng-container [ngTemplateOutletContext]="{action:action}"
                                          [ngTemplateOutlet]="tplTheme">
                            </ng-container>
                          </mat-checkbox>
                        } @else {
                          @if (mayEdit(day)) {
                            @if (edit.action === action.id && edit.time === time.id) {
                              <button (click)="clickEditAction($event, action, time)" mat-icon-button>
                                <mat-icon>save</mat-icon>
                              </button>
                              <mat-form-field full-width>
                                <textarea [(ngModel)]="action.text" matInput rows="4" autofocus></textarea>
                              </mat-form-field>
                            } @else if (isSitter && (action.done || !_mayEdit)) {
                              <div sitterCheck>
                                <mat-icon [class]="classForDone(action, day)">{{ iconForDone(action, day) }}</mat-icon>
                              </div>
                              <div>
                                <ng-container [ngTemplateOutletContext]="{action:action}"
                                              [ngTemplateOutlet]="tplTheme">
                                </ng-container>
                              </div>
                            } @else {
                              <button (click)="clickDeleteAction($event, day, action, time)" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                              </button>
                              @if ($last) {
                                <!-- just a placeholder to keep the controls aligned -->
                                <button mat-icon-button disabled></button>
                              } @else {
                                <button mat-icon-button (click)="clickActionMove($event, day, action, time)">
                                  <mat-icon>arrow_drop_down</mat-icon>
                                </button>
                              }
                              <button (click)="clickEditAction($event, action, time)" text mat-button>
                                <ng-container [ngTemplateOutletContext]="{action:action}"
                                              [ngTemplateOutlet]="tplTheme">
                                </ng-container>
                              </button>
                            }
                          } @else {
                            <div sitterCheck>
                              <mat-icon [class]="classForDone(action, day)">{{ iconForDone(action, day) }}</mat-icon>
                            </div>
                            <div>
                              <ng-container [ngTemplateOutletContext]="{action:action}"
                                            [ngTemplateOutlet]="tplTheme">
                              </ng-container>
                            </div>
                          }
                        }
                      </div>
                    }
                  </div>
                  @if (mayEdit(day) && !isSitter) {
                    <div row>
                      <button mat-button (click)="clickAddAction($event, time)">
                        <mat-icon>add</mat-icon>
                        <span i18n>Add Instruction</span>
                      </button>
                    </div>
                  }
                  <app-image-list [day]="day" [time]="time" [userType]="UserType.Owner" [isSitter]="isSitter" [mayEdit]="mayEdit(day)"></app-image-list>
                  @if (isSitter) {
                    <mat-form-field appearance="outline">
                      <mat-label>Info</mat-label>
                      <textarea [(ngModel)]="time.info" appTextareaAutoresize autofocus matInput></textarea>
                    </mat-form-field>
                  } @else if (!Utils.isEmpty(time.info)) {
                    <div sitterInfo [innerHtml]="timeInfo(time)"></div>
                  }
                  <app-image-list [day]="day" [time]="time" [userType]="UserType.Sitter" [isSitter]="isSitter" [mayEdit]="isSitter"></app-image-list>
                </mat-expansion-panel>
              }
            }
          </mat-accordion>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions>
    @if (mayEdit() || isSitter) {
      <button [mat-dialog-close]="{btn: 'save', data: data}" i18n mat-button>
        <mat-icon>save</mat-icon>
        Save
      </button>
      <div row>
        @if (isSitter) {
          <app-color-picker (onDialogEvent)="onColorPicker($event)"
                            singleButton="true"
                            [colors]="sitterColors"
                            modeList="hsl"></app-color-picker>
        }
        @if (globals.appData.may(EnumPermission.editCompletedPlans)) {
          <button mat-icon-button (click)="_mayEdit = !_mayEdit">
            <mat-icon>edit</mat-icon>
          </button>
        }
      </div>
    } @else {
      <div style="display:flex;flex-flow:row;gap:0.5em;align-items:center">
        <mat-icon class="check">close</mat-icon>
        <span i18n>Todo</span>
        <mat-icon class="check done">done</mat-icon>
        <span i18n>Done</span>
      </div>
      @if (globals.appData.may(EnumPermission.editCompletedPlans)) {
        <button mat-icon-button (click)="_mayEdit = !_mayEdit">
          <mat-icon>edit</mat-icon>
        </button>
      }
    }
  </mat-dialog-actions>
</div>
<ng-template #tplTheme let-action="action">
  <div [class]="classForAction(action)" action>
    {{ action.text }}
    @if (globals.isDebug) {
      <div actiontime>{{ Utils.fmtDateTime(action.created) }}</div>
    }
  </div>
</ng-template>
