<mat-slide-toggle [(ngModel)]="globals.showCompleted" completed>
  <mat-label i18n>Show completed</mat-label>
</mat-slide-toggle>
<button (click)="clickAdd($event)" mat-fab>
  <mat-icon>add</mat-icon>
</button>
<div content>
  <div back-image back-owner></div>
  @for (plan of globals.appData.filteredPlans; track plan.id) {
    <mat-card (click)="ts.clickPlan(plan)" [style]="styleForCard(plan)">
      <mat-card-header row>
        <div>
          {{ plan.period.display }}
          <div sitter><span i18n>Sitter</span>: {{ plan.sitterData }}</div>
        </div>
        <button mat-icon-button (click)="clickPdf($event, plan)" micro-button>
          <mat-icon>print</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content scrollShadow>
        <div column>
          <span>{{ plan.info }}</span>
          <div row icons>
            @for (day of plan.days; track day.id) {
              <div dayactions>
                {{ Utils.fmtDate(day.date, 'ddd') }}
                @for (time of day.timeRanges; track time.id) {
                  @if (time.actions?.length > 0) {
                    <app-time-icon [time]="time" [day]="day"></app-time-icon>
                  }
                }
              </div>
            }
          </div>
        </div>
        <div extInfo>
          <div>{{ plan.extInfo }}</div>
          <app-image-list [userType]="UserType.Owner" [plan]="plan" [isSitter]="false"></app-image-list>
        </div>
      </mat-card-content>
      <mat-card-actions>
        @if (!ts.isTime(plan, 0)) {
          @if (plan.status != null) {
            <mat-icon>{{ globals.statusIcon(plan) }}</mat-icon>
            <div sitterInfo>{{ globals.statusInfo(plan) }}</div>
          }
        }
      </mat-card-actions>
    </mat-card>
  }
</div>
