<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.settings">
  <div cdkDragHandle mat-dialog-title>
    <mat-icon>settings</mat-icon>
    <h1>{{ isImgurSelector ? globals.titles.imgurSelector : globals.titles.linkPicture }}</h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <mat-dialog-content>
    @if (!isImgurSelector) {
      <div row>
        <img alt="picture" hideMissingImage src="{{imageSrc}}">
        <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'url'}"></ng-container>
        <button (click)="clickPaste($event)" mat-icon-button>
          <mat-icon>content_paste</mat-icon>
        </button>
      </div>
      <ng-container *ngTemplateOutlet="formFieldTemplate; context: {name: 'info'}"></ng-container>
    } @else {
      <div imageList>
        @for (image of imgurImages; track image.id) {
          <div (click)="selectImage(image)" [class]="classForImage(image)">
            <img [src]="image.link" alt="Imgur Image">
            @for (info of imageInfo(image); track $index) {
              <div info>{{ info }}</div>
            }
            @if (globals.isDebug) {
              <div info>{{ image | json }}</div>
            }
          </div>
        }
      </div>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <button [matDialogClose]="dialogResult" mat-button>
        <mat-icon>save</mat-icon>
        <span i18n>Save</span>
      </button>
      @if (!isImgurSelector && Utils.isEmpty(srcData.url)) {
        <button (click)="clickImgur($event)" mat-button>
          <img alt="icon for imgur" icon src="https://imgur.com/images/favicon.png">
          <span i18n>Imgur</span>
        </button>
      }
    </div>
  </mat-dialog-actions>
</div>

<ng-template #formFieldTemplate let-name="name">
  <mat-form-field [appearance]="ps.appearance" [formGroup]="ps.page(pageName).form">
    <mat-label>{{ ps.page(pageName).controls[name]?.label }}</mat-label>
    <input [formControlName]="name" [id]="name" matInput>
  </mat-form-field>
</ng-template>

