<div content>
  @for (plan of plans; track planId(plan)) {
    <mat-card (click)="clickPlan(plan)" [class]="classForPlan(plan)">
      <mat-card-header row>
        @if (isTime(plan, -1)) {
          <mat-icon>flight_takeoff</mat-icon>
        } @else if (isTime(plan, 1)) {
          <mat-icon>flight_land</mat-icon>
        } @else {
          <mat-icon>flight</mat-icon>
        }
        <div column>
          {{ plan.p.period.display }}
          <div sitter><span i18n>Owner</span>: {{ globals.ownerData(plan) }}</div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div column>
          <span>{{ plan.p.info }}</span>
          <!--          @if (isTime(plan, -1) || isTime(plan, 0)) {-->
          <div row icons>{{ now }}
            @for (day of plan.p.days; track day.id) {
              @for (time of day.timeRanges; track time.id) {
                @if (time.actions?.length > 0) {
                  <div container>
                    @if (isPast(day)) {
                      <mat-icon past>{{ time.typeIcon }}</mat-icon>
                      @if (isTimeRangeDone(time)) {
                        <mat-icon overlay done>done</mat-icon>
                      } @else {
                        <mat-icon overlay todo>close</mat-icon>
                      }
                    } @else {
                      <mat-icon>{{ time.typeIcon }}</mat-icon>
                    }
                  </div>
                }
              }|
            }
          </div>
          <!--          }-->
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
