:host {
  --headBack: var(--whatsnewHeadBack);
  --headFore: var(--whatsnewHeadFore);
  --bodyBack: var(--whatsnewBodyBack);
  --bodyFore: var(--whatsnewBodyFore);
  --accentBack: var(--mainHeadBack);
  --accentFore: var(--mainHeadFore);

  [content] {
    padding: 0.5em;
    gap: 0.5em;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}

[mat-fab] {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

mat-card {
  cursor: pointer;
  max-width: 32%;
  max-height: calc(100vh / 2);
}

@media (max-width: 500px) {
  mat-card {
    max-width: initial;
    width: 100%;
  }
}

mat-card-header {
  display: flex;
  flex-flow: column;
}

mat-card-header[admin] {
  font-variant: petite-caps;
  font-weight: bold;
}

mat-card-content {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  overflow-y: auto;
  height: 100%;
}

[sitter] {
  font-size: 70%;
  color: rgba(0, 0, 0, 0.8);
}

[perm] {
  display: flex;
  flex-flow: column;
  margin-top: 0.5em;
  line-height: 2em;
}
