[container] {
  position: relative;
  height: 24px;
  width: 24px;

  mat-icon {
    //border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [past] {
    opacity: 0.5;
  }

  [overlay] {
    --size: 30px;
    //border: 2px solid lime;
    font-weight: bold;
    font-size: var(--size);
    width: var(--size);
    height: var(--size);
  }

  [done] {
    color: lime;
  }

  [todo] {
    color: red;
  }
}

