<div mainpanel>
  <div toolbar>
    <div>
      @if (globals.appData?.person?.fullname != null) {
        {{ globals.appData?.person?.fullname }}
        @if (globals.usertypeList?.length > 1) {
          @for (type of globals.usertypeList; track type.value) {
            <button mat-button [class]="classForType(type)" (click)="clickType(type)">{{ type.label }}</button>
          }
        }
      }
    </div>
    <div>
      <!-- button (click)="sync.toggleSyncDropbox()" id="sync" mat-icon-button>
        <ng-container *ngIf="!sync.hasSync">
          <mat-icon>sync_disabled</mat-icon>
        </ng-container>
        <ng-container *ngIf="sync.hasSync">
          <img alt="dropbox" src="../../../assets/images/dropbox.png">
        </ng-container>
      </button -->
      <app-close-button [data]="closeData"></app-close-button>
      @if (!Utils.isEmpty(bs.token)) {
        <button [matMenuTriggerFor]="userMenu" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button (click)="onClick('settings')" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span i18n>Settings</span>
          </button>
          <button (click)="onClick('password')" mat-menu-item>
            <mat-icon>key</mat-icon>
            <span i18n>Password</span>
          </button>
          <button (click)="onClick('whatsnew')" mat-menu-item>
            <mat-icon>info_outline</mat-icon>
            <span i18n>Once upon a time...</span>
          </button>
          <button (click)="onClick('impressum')" mat-menu-item>
            <mat-icon>account_balance</mat-icon>
            <span i18n>Impressum</span>
          </button>
          <button (click)="onClick('dsgvo')" mat-menu-item>
            <mat-icon>policy</mat-icon>
            <span i18n>DSGVO</span>
          </button>
          <mat-divider></mat-divider>
          <button (click)="onClick('logout')" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span i18n>Logout</span>
          </button>
        </mat-menu>
      }
    </div>
  </div>
  <div>
    <div>
    </div>
    <div>
      <div content>
        @if (globals.currentUserType?.value === UserType.Owner) {
          <app-type-owner></app-type-owner>
        } @else if (globals.currentUserType?.value === UserType.Sitter) {
          <app-type-sitter></app-type-sitter>
        } @else if (globals.currentUserType?.value === UserType.Admin) {
          <app-type-admin></app-type-admin>
        } @else {
          <app-impressum *ngIf="globals.currentPage==='impressum'"></app-impressum>
          <app-welcome *ngIf="globals.currentPage==='welcome'"></app-welcome>
          <app-whats-new *ngIf="globals.currentPage==='news'"></app-whats-new>
          @if (globals.devSupport) {
            {{ globals.appData ?? {} |json }}<br>
          }
        }
      </div>
    </div>
  </div>
  <app-log></app-log>
</div>
<app-progress></app-progress>
<div hidden id="mark"></div>
