<!--
<button (click)="checkDB()">Mach mal</button>
<textarea style="width:90vw;height:80vh">{{checkDB()}}</textarea>
-->
<div mainpanel>
  <div toolbar>
    <div>
      @if (globals.appData?.person?.fullname != null) {
        {{ globals.appData?.person?.fullname }} -
        @for (type of globals.usertypeList; track type.value) {
          <button mat-button [class]="classForType(type)" (click)="clickType(type)">{{ type.label }}</button>
        }
      }
    </div>
    <div>
      <button (click)="globals.isDebug = !globals.isDebug" *ngIf="globals.mayDebug" id="debug" mat-icon-button>
        <mat-icon *ngIf="!globals.isDebug">bug_report</mat-icon>
        <mat-icon *ngIf="globals.isDebug">pest_control</mat-icon>
      </button>
      <!-- button (click)="sync.toggleSyncDropbox()" id="sync" mat-icon-button>
        <ng-container *ngIf="!sync.hasSync">
          <mat-icon>sync_disabled</mat-icon>
        </ng-container>
        <ng-container *ngIf="sync.hasSync">
          <img alt="dropbox" src="../../../assets/images/dropbox.png">
        </ng-container>
      </button -->
      <button (click)="onClick('whatsnew')" id="whatsnew" mat-icon-button>
        <mat-icon>info_outline</mat-icon>
      </button>
      <button (click)="onClick('impressum')" id="impressum" mat-icon-button>
        <mat-icon>account_balance</mat-icon>
      </button>
      <button *ngIf="bs.token != null" [matMenuTriggerFor]="userMenu" mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button (click)="onClick('settings')" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span i18n>Settings</span>
        </button>
        <button (click)="onClick('logout')" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span i18n>Logout</span>
        </button>
      </mat-menu>
      <app-close-button [data]="closeData"></app-close-button>
    </div>
  </div>
  <div>
    <div>
    </div>
    <div>
      <div content>
        @if (globals.currentUserType?.value === UserType.Owner) {
          <app-type-owner></app-type-owner>
        } @else if (globals.currentUserType?.value === UserType.Sitter) {
          <app-type-sitter></app-type-sitter>
        } @else {
          <app-impressum *ngIf="globals.currentPage==='impressum'"></app-impressum>
          <app-welcome *ngIf="globals.currentPage==='welcome'"></app-welcome>
          <app-whats-new *ngIf="globals.currentPage==='news'"></app-whats-new>
          @if (globals.devSupport) {
            {{ globals.appData ?? {} |json }}<br>
          }
        }
      </div>
    </div>
  </div>
</div>
<app-progress></app-progress>
<div hidden id="mark"></div>
